.active-tab {
    -fx-background-color: #F6FFF8;
    -fx-border-width: 1;
    -fx-border-color: #6CA788;
    -fx-border-radius: 8;
    -fx-background-radius: 8
}

.inactive-tab {
    -fx-background-color: transparent;
    -fx-border-width: 0
}